:root  {
    --brand-color: #2e2f42;
    --section-hover-focus: #404bbf;
    
}
img{
    display: block;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.header {
    border-bottom: 1px solid #e7e9fc;
   
}
li{
    margin-right: 0;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;

}
.section-ul-one{
    display: flex;
    gap: 24px;
   
}
.item{
   width:calc((100% - 72px) / 4);
}
.container{
    width: 1158px;
        margin: 0 auto;
        padding: 0 15px;

}
.div-container{
    display: flex;
    align-items: center;

    
}
.header-mod{
    gap: 24px;
    display: flex;

}
.name-div{
    padding: 32px 0;
}
.header-nav{
    display: flex;
    align-items: center;
    
}
.header-logo{ 
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none; 
    margin-right: 76px ;
    display: inline-block;
    text-align: center;
    
}
.header-address{
    font-style: normal;
    margin-left: auto;
}
.studio{
    color:var(--brand-color);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    list-style: none;
    text-decoration: none;
    
    
} 
.header-nav-mod {
            list-style: none;
            display: flex;
            gap: 40px;

            
           
}
.header-ads{
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        list-style: none;
        text-decoration: none;
        color: var(--brand-color);
        padding: 24px 0;
        display: block;

    }
    .header-ads:hover{color: var(--section-hover-focus);
    }
    .header-ads:focus{color: var(--section-hover-focus);
    }
.address-ul{
    font-style: normal;
    display: flex;
    gap: 40px;
}
.contact
{

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
    gap: 40px;
}
.contact:hover{color: var(--section-hover-focus);
}
.contact:focus{color: var(--section-hover-focus);
}

.section-one{
    background-color: var(--brand-color);
    padding: 188px 0;
}
.section-h-hiden{
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-h-one{
        font-size: 56px;
          line-height: 1.07;
        letter-spacing: 0.02em;
        color: #ffffff;
        max-width: 496px;
        text-align: center;
        margin: 0 auto;

        

}
.section-button{
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 48px;

    
}
.section-button:hover{
    background-color: #404BBF;
     cursor: pointer;
}
.section-button:focus {
    background-color: #404BBF;
     cursor: pointer;
}
.section-h-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 8px;
    text-align: center;
    
    
    
}
.section-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 8px;
}

.section-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    

}
.section-p-name{
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.section-img-one{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-color);
    margin-bottom: 72px;
    
}
.section-doing{
   
    padding-bottom: 120px;
}
 .section-img-ul{
    display: flex;
    gap: 24px;
 }
 .img-section{
   width: calc((100% - 48px) / 3);
 }

.section-four{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.section-img-two{
     background-color:#FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    gap: 24px;
}
 .footer-one{
    background-color:var(--brand-color);
    padding: 100px 0;

 }
 
 
 
 .footer-p{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px
 }
.section-portfolio{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
   
    }

.section-portfolio:focus{
        color: #FFFFFF; 
        cursor: pointer;
        background-color: #404BBF;
        border: 1px solid transparent;
}

.section-portfolio:hover{
        color: #FFFFFF;
        cursor: pointer;
        background-color: #404BBF;
        border: 1px solid transparent;
}
.portfolio-ul-port {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}
.portfolio-ul-img{
    list-style: none;
    display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}
.portfolio-img-a{
    text-decoration: none;
    width: calc((100% - 48px) / 3);
}
.footer-span{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    list-style: none;
    text-decoration: none;
    color: #f4f4fd;
}
.main-section{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-li-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

    
